<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <!-- this is required from .Net 4.5 onwards to has exceptions from unhandled tasks throw globally.-->
    <!--<runtime>
        <ThrowUnobservedTaskExceptions enabled="true"/>
    </runtime>-->
</configuration>